<!DOCTYPE html>
<html lang="ru-Ru">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<title>Портал недвижимости</title>
	</head>
	
	<body>
	
		<div id="wrap">
			<div id="header">
				<div id="header_top">
					<a href=""><h1>FindHouse.SU</h1></a>
					<ul>
						<li><a href="#">Войти</a></li>
						<li><a href="#">Регистрация</a></li>
					</ul>				
				</div><!--end header_top-->
				
				<div id="header_bottom">
					<ul>
						<li><a href="#">Снять</a></li>
						<li><a href="#">Сдать</a></li>
						<li><a href="#">Купить</a></li>
						<li><a href="#">Продать</a></li>
					</ul>
				</div><!--end header_bottom-->
			</div><!--end header-->
			<div id="slogan">
				<p>Здесь Вы сможете быстро снять и сдать<br />
				   недвижимость без посредников!</p>
			</div><!--end slogan-->
			<div id="container">
				<div id="sidebar">
					<div id="search">
						<form name="s" method="post" action="new_action">
							<h2>Поиск</h2>
							<div class="search_group">
								<input type="checkbox" name="operation" value="rent" />Снять<br />
								<input type="checkbox" name="operation" value="buy" />Купить<br />
							</div>
							<div class="search_group">
								<input type="checkbox" name="type_house" value="room" />Комнату<br />
								<input type="checkbox" name="type_house" value="flat" />Квартиру<br />
								<input type="checkbox" name="type_house" value="cottage" />Коттедж<br />
							</div>
							<div id="button_ok">
								<input type="image" src=" img/button_search.png" alt="Поиск" />
							</div>
						</form>
					</div><!--end search-->
				</div><!--end sidebar-->
				<div id="content">
					<div class="item_string">
						<div class="one_item">
							<a href="#"><img class="pict" src="img/home1.jpg" alt="Фото недвижимости" /></a> 
							<h3>Продается</h3>
							<p class="discription">Продается дом в Саратове, Кировский район, 6 комнат, 136 кв.м.</p>
							<div class="img_inp">
								<a href="#"><img src="img/button.png" alt="Подробнее" /></a> 
							</div>
						</div><!--end one_item-->
						<div class="one_item">
							<a href="#"><img src="img/home2.jpg" alt="Фото недвижимости" /></a> 
							<h3>Сдается</h3>
							<p class="discription">Сдается дом в Саратове, Заводской район, 4 комнаты, 89 кв.м</p>
							<div class="img_inp">
								<a href="#"><img src="img/button.png" alt="Подробнее" /></a> 
							</div>
						</div><!--end one_item-->
					</div><!--end item_string-->
					<div class="item_string">
						<div class="one_item">
							<a href="#"><img src="img/home3.jpg" alt="Фото недвижимости" /></a> 
							<h3>Сдается</h3>
							<p class="discription">Сдается дом в Энгельсе, 2 км от Волги, 5 комнат, 110 кв.м.</p>
							<div class="img_inp">
								<a href="#"><img src="img/button.png" alt="Подробнее" /></a> 
							</div>
						</div><!--end one_item-->
						<div class="one_item">
							<a href="#"><img src="img/home4.jpg" alt="Фото недвижимости" /></a> 
							<h3>Сдается</h3>
							<p class="discription">Сдается дом в Ершове, 4 комнаты, 87 кв.м.</p>
							<div class="img_inp">
								<a href="#"><img src="img/button.png" alt="Подробнее" /></a> 
							</div>
						</div><!--end one_item-->
					</div><!--end item_string-->
				</div><!--end content-->
			</div><!--container-->
			<div id="buffer"></div>
		</div><!--end wrap-->
		<div id="footer">
				<p id="footer_inf">copyright© 2013. All rights reserved</p>
		</div><!--end footer-->
		
		
	</body>
	
</html>